body {
    background-image: url("./assortment-cinema-elements-red-background-with-copy-space_23-2148457848.avif");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    filter: brightness(0.5);
  }